<div class="bg-dark container mt-5">
  <h1 class="mt-5 text-center">BLOG</h1>
  {{#each blogPosts}}
  <div class="bg-dark  card mb-5" >
    
    <div class="card-body">
    <span class="badge bg-secondary">{{category}}</span>
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">By {{#if author}}
        <span class ="text-success">{{author}}</span>
        {{else}}
        <spand class="text-warning">Unknown</spand>
        {{/if}}
        | {{date}}</p>
      <p class="card-text">{{content}}</p>
      <a href="/blog/{{slug}}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  {{/each}}
    <div class="col-4">
      {{sidebar}}
    </div>
  </div>
</div>